@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #213459; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  -webkit-overflow-scrolling: touch;
}

#root {
  min-height: 100vh;
  background-color: #111827;
}